In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("data/weatherAUS.csv")
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [4]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [6]:

categorical = [var for var in df.columns if df[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :', categorical)

There are 7 categorical variables

The categorical variables are : ['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']

In [7]:
df[categorical].head()

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,W,W,WNW,No,No
1,2008-12-02,Albury,WNW,NNW,WSW,No,No
2,2008-12-03,Albury,WSW,W,WSW,No,No
3,2008-12-04,Albury,NE,SE,E,No,No
4,2008-12-05,Albury,W,ENE,NW,No,No

In [8]:
df[categorical].isnull().sum().sort_values(ascending=False)

WindDir9am      10566
WindGustDir     10326
WindDir3pm       4228
RainTomorrow     3267
RainToday        3261
Date                0
Location            0
dtype: int64

In [9]:
cat1 = [var for var in categorical if df[var].isnull().sum()!=0]

print(df[cat1].isnull().sum())

WindGustDir     10326
WindDir9am      10566
WindDir3pm       4228
RainToday        3261
RainTomorrow     3267
dtype: int64

In [12]:
import numpy as np
for var in categorical: 
    
    print(df[var].value_counts()/float(len(df)))

Date
2013-11-12    0.000337
2014-09-01    0.000337
2014-08-23    0.000337
2014-08-24    0.000337
2014-08-25    0.000337
                ...
2007-11-29    0.000007
2007-11-28    0.000007
2007-11-27    0.000007
2007-11-26    0.000007
2008-01-31    0.000007
Name: count, Length: 3436, dtype: float64
Location
Canberra            0.023622
Sydney              0.022989
Darwin              0.021951
Melbourne           0.021951
Brisbane            0.021951
Adelaide            0.021951
Perth               0.021951
Hobart              0.021951
Albany              0.020899
MountGambier        0.020899
Ballarat            0.020899
Townsville          0.020899
GoldCoast           0.020899
Cairns              0.020899
Launceston          0.020899
AliceSprings        0.020899
Bendigo             0.020899
Albury              0.020899
MountGinini         0.020899
Wollongong          0.020899
Newcastle           0.020892
Tuggeranong         0.020892
Penrith             0.020892
Woomera             0.020686
Nuriootpa           0.020686
Cobar               0.020686
CoffsHarbour        0.020686
Moree               0.020686
Sale                0.020686
PerthAirport        0.020686
PearceRAAF          0.020686
Witchcliffe         0.020686
BadgerysCreek       0.020686
Mildura             0.020686
NorfolkIsland       0.020686
MelbourneAirport    0.020686
Richmond            0.020686
SydneyAirport       0.020686
WaggaWagga          0.020686
Williamtown         0.020686
Dartmoor            0.020686
Watsonia            0.020686
Portland            0.020686
Walpole             0.020665
NorahHead           0.020652
SalmonGums          0.020631
Katherine           0.010848
Nhil                0.010848
Uluru               0.010848
Name: count, dtype: float64
WindGustDir
W      0.068163
SE     0.064746
N      0.064024
SSE    0.063358
E      0.063117
S      0.063028
WSW    0.062347
SW     0.061646
SSW    0.060058
WNW    0.056730
NW     0.055837
ENE    0.055713
ESE    0.050681
NE     0.049038
NNW    0.045511
NNE    0.045016
Name: count, dtype: float64
WindDir9am
N      0.080833
SE     0.063846
E      0.063083
SSE    0.062643
NW     0.060147
S      0.059528
W      0.058153
SW     0.057906
NNE    0.055885
NNW    0.054860
ENE    0.053870
NE     0.052736
ESE    0.052454
SSW    0.052159
WNW    0.050969
WSW    0.048288
Name: count, dtype: float64
WindDir3pm
SE     0.074508
W      0.069504
S      0.068239
WSW    0.065434
SSE    0.064616
SW     0.064306
N      0.061116
WNW    0.061006
NW     0.059192
ESE    0.058470
E      0.058243
NE     0.056806
SSW    0.056070
NNW    0.054104
ENE    0.054015
NNE    0.045305
Name: count, dtype: float64
RainToday
No     0.758415
Yes    0.219167
Name: count, dtype: float64
RainTomorrow
No     0.758394
Yes    0.219146
Name: count, dtype: float64

In [13]:
df['Date'] = pd.to_datetime(df['Date'])

In [14]:

df['Year'] = df['Date'].dt.year

df['Year'].head()

0    2008
1    2008
2    2008
3    2008
4    2008
Name: Year, dtype: int32

In [15]:

df['Month'] = df['Date'].dt.month

df['Month'].head()

0    12
1    12
2    12
3    12
4    12
Name: Month, dtype: int32

In [16]:

df['Day'] = df['Date'].dt.day

df['Day'].head()

0    1
1    2
2    3
3    4
4    5
Name: Day, dtype: int32

In [17]:
df.drop('Date', axis=1, inplace = True)

In [18]:
print('Location contains', len(df.Location.unique()), 'labels')

Location contains 49 labels

In [19]:
df.Location.unique()

array(['Albury', 'BadgerysCreek', 'Cobar', 'CoffsHarbour', 'Moree',
       'Newcastle', 'NorahHead', 'NorfolkIsland', 'Penrith', 'Richmond',
       'Sydney', 'SydneyAirport', 'WaggaWagga', 'Williamtown',
       'Wollongong', 'Canberra', 'Tuggeranong', 'MountGinini', 'Ballarat',
       'Bendigo', 'Sale', 'MelbourneAirport', 'Melbourne', 'Mildura',
       'Nhil', 'Portland', 'Watsonia', 'Dartmoor', 'Brisbane', 'Cairns',
       'GoldCoast', 'Townsville', 'Adelaide', 'MountGambier', 'Nuriootpa',
       'Woomera', 'Albany', 'Witchcliffe', 'PearceRAAF', 'PerthAirport',
       'Perth', 'SalmonGums', 'Walpole', 'Hobart', 'Launceston',
       'AliceSprings', 'Darwin', 'Katherine', 'Uluru'], dtype=object)

In [20]:
import pandas as pd
import numpy as np
!pip install folium
import folium
from folium.plugins import HeatMap
import matplotlib.pyplot as plt

# First, we need to create a dataframe with location coordinates
# Since the original data doesn't include coordinates, we need to define them

# Dictionary of Australian locations with their approximate coordinates
location_coords = {
    'Albury': [-36.0737, 146.9135],
    'BadgerysCreek': [-33.8678, 150.7601],
    'Cobar': [-31.4950, 145.8380],
    'CoffsHarbour': [-30.2986, 153.1218],
    'Moree': [-29.4658, 149.8339],
    'Newcastle': [-32.9283, 151.7817],
    'NorahHead': [-33.2810, 151.5740],
    'NorfolkIsland': [-29.0408, 167.9547],
    'Penrith': [-33.7511, 150.6942],
    'Richmond': [-33.5983, 150.7511],
    'Sydney': [-33.8688, 151.2093],
    'SydneyAirport': [-33.9399, 151.1753],
    'WaggaWagga': [-35.1082, 147.3598],
    'Williamtown': [-32.7944, 151.8347],
    'Wollongong': [-34.4278, 150.8931],
    'Canberra': [-35.2809, 149.1300],
    'Tuggeranong': [-35.4244, 149.0888],
    'MountGinini': [-35.5291, 148.7778],
    'Ballarat': [-37.5622, 143.8503],
    'Bendigo': [-36.7570, 144.2794],
    'Sale': [-38.1026, 147.0678],
    'MelbourneAirport': [-37.6690, 144.8410],
    'Melbourne': [-37.8136, 144.9631],
    'Mildura': [-34.2080, 142.1246],
    'Nhil': [-36.3321, 141.6530],
    'Portland': [-38.3432, 141.6030],
    'Watsonia': [-37.7072, 145.0831],
    'Dartmoor': [-37.9144, 141.2686],
    'Brisbane': [-27.4698, 153.0251],
    'Cairns': [-16.9186, 145.7781],
    'GoldCoast': [-28.0167, 153.4000],
    'Townsville': [-19.2590, 146.8169],
    'Adelaide': [-34.9285, 138.6007],
    'MountGambier': [-37.8283, 140.7778],
    'Nuriootpa': [-34.4724, 138.9931],
    'Woomera': [-31.1989, 136.8067],
    'Albany': [-35.0217, 117.8816],
    'Witchcliffe': [-34.0275, 115.1050],
    'PearceRAAF': [-31.6622, 116.0192],
    'PerthAirport': [-31.9385, 115.9672],
    'Perth': [-31.9535, 115.8570],
    'SalmonGums': [-32.9822, 121.6417],
    'Walpole': [-34.9799, 116.7311],
    'Hobart': [-42.8821, 147.3272],
    'Launceston': [-41.4332, 147.1440],
    'AliceSprings': [-23.6980, 133.8807],
    'Darwin': [-12.4634, 130.8456],
    'Katherine': [-14.4647, 132.2660],
    'Uluru': [-25.3444, 131.0369]
}

# Create a dataframe from the dictionary
locations_df = pd.DataFrame(location_coords.items(), columns=['Location', 'Coordinates'])
locations_df[['Latitude', 'Longitude']] = pd.DataFrame(locations_df['Coordinates'].tolist(), index=locations_df.index)

# Assuming you have a metric for intensity (replace with your actual data)
# For this example, we'll generate random values
np.random.seed(42)  # For reproducibility
locations_df['Intensity'] = np.random.randint(1, 100, size=len(locations_df))

# Create a base map centered on Australia
australia_map = folium.Map(location=[-25.2744, 133.7751], zoom_start=4)

# Prepare the data for the heatmap
heat_data = [[row['Latitude'], row['Longitude'], row['Intensity']] for index, row in locations_df.iterrows()]

# Add the heatmap layer
HeatMap(heat_data, radius=15, blur=10, max_zoom=13).add_to(australia_map)

# Add markers for each location with popup info
for index, row in locations_df.iterrows():
    folium.Marker(
        location=[row['Latitude'], row['Longitude']],
        popup=f"{row['Location']}: {row['Intensity']}",
        icon=folium.Icon(color='blue', icon='info-sign')
    ).add_to(australia_map)

# Save the map
australia_map.save('australia_locations_heatmap.html')

# Display the top 5 locations by intensity
print("Top 5 locations by intensity:")
print(locations_df.sort_values('Intensity', ascending=False).head(5)[['Location', 'Intensity']])

Collecting folium
  Downloading folium-0.19.5-py2.py3-none-any.whl.metadata (4.1 kB)
Collecting branca>=0.6.0 (from folium)
  Downloading branca-0.8.1-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from folium) (3.1.2)
Requirement already satisfied: numpy in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from folium) (1.26.4)
Requirement already satisfied: requests in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from folium) (2.31.0)
Requirement already satisfied: xyzservices in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from folium) (2023.7.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from requests->folium) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from requests->folium) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from requests->folium) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from requests->folium) (2024.2.2)
Downloading folium-0.19.5-py2.py3-none-any.whl (110 kB)
Downloading branca-0.8.1-py3-none-any.whl (26 kB)
Installing collected packages: branca, folium
Successfully installed branca-0.8.1 folium-0.19.5

WARNING: Ignoring invalid distribution -andas (c:\users\hp\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\hp\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\hp\appdata\local\programs\python\python310\lib\site-packages)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip
C:\Users\hp\AppData\Roaming\Python\Python310\site-packages\matplotlib\projections\__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

Top 5 locations by intensity:
         Location  Intensity
1   BadgerysCreek         93
32       Adelaide         92
29         Cairns         91
27       Dartmoor         89
16    Tuggeranong         88